.modalXButton {
  margin-top: 5px;
  color: red;
  background: cornsilk;
  outline: none;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.deleteButton,
.cancelButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.deleteButton {
  margin-right: 10px;
  margin-left: 10px;
}

.header {
  color: red;
  margin-left: 10px;
}

.text {
  width: 500px;
  margin-left: 5px;
}