.editPersonOptions {
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.editPersonContainer {
  background: ivory;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid ivory;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.editPersonValueGroups {
  display: flex;
  padding-left: 50px;
  margin: 20px 0 10px 0;
}

.editPersonContent {
  display: grid;
}

.editPersonTextArea {
  width: 40rem;
  height: 10rem;
}

.editPersonHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: ui-serif;
  text-shadow: 0 0.5px 0.5px #65acc9;
}

.editPersonCreateButton {
  margin: 20px 0 20px 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.editPersonInput {
  margin-right: 20px;
  width: 15rem;
}

.editPersonClearButton,
.editPersonReturnButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
