.familyTablesOptions {
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.familyTablesFilter {
  display: flex;
}

.familyTablesContainer {
  background: aliceblue;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid aliceblue;
  border-radius: 5px;
}

.familyTablesHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: ui-serif;
  text-shadow: 0 0.5px 0.5px #65acc9;
}

.previousPageButton {
  margin-right: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.nextPageButton {
  margin-left: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.familyTablesFilterInput {
  margin-top: 5px;
  margin-right: 5px;
}
.familyTablesPageButtons {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.leftPageNumberInput,
.rightPageNumberInput {
  border: none;
  outline: none;
  width: 100px;
  background: white;
  font-weight: bold;
  font-family: ui-serif;
}

.leftPageNumberInput {
  text-align: end;
}

.familyTablesSelectOptions {
  width: 60px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.1;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.familyTablesPageValues {
  margin-top: 5px;
}

.familyTablesCreateButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
