.familiesList {
  display: flex;
  flex-wrap: wrap;
  margin: 1.8rem;
}

.familiesPersonContainer {
  padding: 8px;
  margin: 0 auto;
}

.familiesContainer {
  background: mintcream;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid mintcream;
  border-radius: 5px;
  min-height: 656px;
}

.familiesHeader {
  padding-top: 20px;
  text-align: center;
  font-family: ui-serif;
  text-shadow: 0 0.5px 0.5px #65acc9;
}

.familiesCard {
  background: mintcream;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 12rem;
  border: 1px solid ghostwhite;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.familiesImg {
  background: mintcream;
}

.familiesFilter {
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: end;
}

.familiesFilterInput {
  margin-top: 5px;
  margin-right: 5px;
}

.clearButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}