.linage {
  fill: none;
  stroke: #000;
}

.marriage {
  fill: none;
  stroke: rgb(236, 50, 50);
}

.human {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.person {
  font-style: italic;
  color: rgb(221, 59, 59);
}

.familyTreesvg {
  background-color: mintcream;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

p {
  padding: 8px;
  margin-bottom: 0;
}