.peopleOptions {
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.peopleFilter {
  display: flex;
}

.peopleContainer {
  background: ivory;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid ivory;
  border-radius: 5px;
  min-height: 565px;
}

.peopleHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: ui-serif;
  text-shadow: 0 0.5px 0.5px #65acc9;
}

.peopleFilterInput {
  margin-top: 5px;
  margin-right: 5px;
}

.peopleCreateButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
