.pageContainer {
  background: ivory;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid ivory;
  border-radius: 5px;
}

.personContainer {
  min-height: 472px;
}

.editPersonContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 840px;
}

.newPersonContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.personContent {
  padding: 0 20px 50px 40px;
}

.personHeader {
  padding: 40px 20px 20px 30px;
  font-family: ui-serif;
  text-shadow: 0 0.5px 0.5px #65acc9;
}

.personMainHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: ui-serif;
  text-shadow: 0 0.5px 0.5px #65acc9;
}

.personEndOptions {
  margin-top: 20px;
  display: flex;
}

.topOptions {
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.clearButton,
.returnButton,
.personButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.formContainer {
  display: grid;
}

.formValueGroup {
  display: flex;
  padding-left: 50px;
  margin: 20px 0 10px 0;
}

.formInput {
  margin-right: 20px;
  width: 15rem;
  margin-left: 0;
}

.formTextArea {
  width: 40rem;
  height: 10rem;
}

.formCreateButton {
  margin: 20px 0 20px 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
