.personFormOptions {
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.personFormContainer {
  background: ivory;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid ivory;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.personFormValueGroups {
  display: flex;
  padding-left: 50px;
  margin: 20px 0 10px 0;
}

.personFormContent {
  display: grid;
}

.personFormTextArea {
  width: 40rem;
  height: 10rem;
}

.personFormHeader {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: ui-serif;
  text-shadow: 0 0.5px 0.5px #65acc9;
}

.personFormCreateButton {
  margin: 20px 0 20px 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.personFormInput {
  margin-right: 20px;
  width: 15rem;
}

.personFormClearButton,
.personFormReturnButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}