.searchInput {
  margin-left: 5px;
  margin-right: 0;
}

.searchContainer {
  background: ghostwhite;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid ghostwhite;
  border-radius: 5px;
  min-height: 565px;
  padding-bottom: 20px;
}

.cardContent {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.searchPageButton {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.searchPage {
  margin-bottom: 50px;
}

.searchHeader {
  margin-top: 20px;
  padding-left: 5px;
  font-family: ui-serif;
  font-size: 30px;
}

.searchWords {
  margin-top: 20px;
  padding-left: 5px;
  font-size: 18px;
}

.searchCounts {
  margin-top: 20px;
  padding-left: 5px;
}

.shortInformation {
  padding-bottom: 10px;
}

.searchIdContainer {
  display: flex;
  justify-content: space-between;
}

.box {
  position: relative;
}

.hover-text {
  border: 1px solid black;
  background-color: ghostwhite;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 1.5rem;
  padding: 2px 5px;
  color: black;
  font-size: 14px;
  z-index: 1;
  transition: visibility 0s, opacity 0.2s ease-out;
  word-break: break-all;
}

.box:hover .hover-text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.personSearchHeader,
.fbSearchHeader {
  font-weight: bold !important;
  margin-bottom: 10px;
  font-size: 18px;
}

.fbSearchHeader {
  margin-top: 20px;
}

.fbChildHeader {
  font-weight: bold !important;
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 20px;
}

.searchCardContent {
  border: solid 1px grey;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}